<!--REGISTER-->
<section>
    <div id="lgx-register" class="lgx-register">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="lgx-heading-area lgx-heading-brand">
                            <h2 class="lgx-heading ">
                                <span class="back-heading"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                <span class="heading">Get Your Ticket</span>
                            </h2>
                            <p class="text">
                                Grab a ticket for one of the workshops on day one, and another ticket for the sessions on day two!
                            </p>
                        </div>
                    </div>
                    <!--//main COL-->
                </div>
                <div class="row">
                    <!-- <div class="col-xs-6 col-sm-3 col-md-2">
                        &nbsp;
                    </div> -->
                    <!--
					<div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single active">
                            <div class="single-top">
                                <h4 class="price"><span>€</span>75</h4>
                                <h3 class="title">Conference Day Pass</h3>
                                <h4 class="">12 April 2019</h4>
                                <p>Early Bird - valid until 1 February 2019</p>
                            </div>
                            <div class="single-bottom">
                                <ul class="list-unstyled list">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Full session day access</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Lunch included</li>
                                </ul>
                                <a class="lgx-btn" target="_blank" href="https://www.eventbrite.nl/e/tickets-nativescript-developer-day-53682843831?aff=ebdssbdestsearch#tickets"><span>Buy
                                        Ticket</span></a>
                            </div>
                        </div>
                    </div>
					-->


                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single">
                            <div class="single-top">
                                <h4 class="price"><span>€</span>30</h4>
                                <h3 class="title">{N} + Angular Workshop</h3>
                                <h4 class="">11 April 2019</h4>
                                <p><a href="https://nativescriptdevday.org/schedule/session-day1-workshop-intro.html">More Information</a></p>
                            </div>
                            <div class="single-bottom">
                                <ul class="list-unstyled list">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Angular workshop access</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Lunch included</li>
                                </ul>
                                <a class="lgx-btn" target="_blank" href="https://www.eventbrite.nl/e/workshop-building-native-apps-with-nativescript-and-angular-tickets-53680942143"><span>Buy
                                        Ticket</span></a>
                            </div>
                        </div>
                    </div>
					
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single">
                            <div class="single-top">
                                <h4 class="price"><span>€</span>550</h4>
                                <h3 class="title">Advanced Workshop</h3>
                                <h4 class="">11 April 2019</h4>
                                <p><a href="https://nativescriptdevday.org/schedule/session-day1-workshop-advanced-1.html">Info on Part 1</a> - <a href="https://nativescriptdevday.org/schedule/session-day1-workshop-advanced-2.html">Info on Part 2</a></p>
                            </div>
                            <div class="single-bottom">
                                <ul class="list-unstyled list">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Advanced workshop access</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Lunch included</li>
                                </ul>
                                <a class="lgx-btn" target="_blank" href="https://www.eventbrite.nl/e/advanced-nativescript-workshop-april-11-tickets-55751875360"><span>Buy
                                        Ticket</span></a>
                            </div>
                        </div>
                    </div>
				

                    <!-- <div class="col-xs-6 col-sm-3 col-md-2">
                        &nbsp;
                    </div> -->
                </div>
                <!--//.ROW-->
				
                <div class="row" style="margin-top:20px">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single">
                            <div class="single-top">
                                <h4 class="price">FREE</h4>
                                <h3 class="title">Vue Vixens Workshop</h3>
                                <h4 class="">11 April 2019</h4>
                                <p></p>
                                <p></p>
                            </div>
                            <div class="single-bottom">
                                <ul class="list-unstyled list">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Vue Vixens Skulk</li>
                                </ul>
                                <a class="lgx-btn" target="_blank" href="https://vuevixens.org/events/nsdevdayams2019"><span>Get Ticket</span></a>
                            </div>
                        </div>
                    </div>
					
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single active">
                            <div class="single-top">
                                <h4 class="price"><span>€</span>100</h4>
                                <h3 class="title">Conference Day Pass</h3>
                                <h4 class="">12 April 2019</h4>
                                <p></p>
                                <p>&nbsp;<!--If purchasing after 1 February, 2019--></p>
                            </div>
                            <div class="single-bottom">
                                <ul class="list-unstyled list">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Full session day access</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Lunch included</li>
                                </ul>
                                <a class="lgx-btn" target="_blank" href="https://www.eventbrite.nl/e/tickets-nativescript-developer-day-53682843831?aff=ebdssbdestsearch#tickets"><span>Buy
                                        Ticket</span></a>
                            </div>
                        </div>
                    </div>

                </div>
				
				
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</section>
<!--REGISTER END-->