<!--SCHEDULE-->
<section>
    <div id="lgx-schedule" class="lgx-schedule">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <h2 class="lgx-heading">
                                <span class="back-heading"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                <span class="heading">Schedule</span>
                            </h2>
                            <p class="text">
                                Take the schedule with you! <br>
                                Get the {N} Dev Day app on <a href="https://itunes.apple.com/us/app/nativescript-developer-day-eu/id1278632587" target="_blank">iOS</a> or <a href="https://play.google.com/store/apps/details?id=nl.nativescript.nsdevdayeu" target="_blank">Android</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- TODO: Add schedule HTML-->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- TODO: Style the title and the date -->
                        <div class="text-center">
                            <h2>12 April, 2019</h3>
                        </div>
                        <div class="lgx-tab">

                            <div class="tab-content lgx-tab-content text-center">
                                <!-- day 2 -->
                                <div id="day2" class="tab-pane fade in active">

                                    <!-- session -->
                                    {% assign day2track1 = site.pages | where: "layout", "session" | where: "day", "2"
                                    | sort: "start-time" %}
                                    {% for session in day2track1 %}
                                    {% assign speakers = site.pages | where: "layout", "speaker" | where: "last-name",
                                    session.speaker-last-name %}
                                    {% assign speaker = speakers | first %}

                                    {% if session.type == 'Break' %}
                                    <div class="lgx-single-tab" style="background-color:#2e2841; color:white">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-2">
                                                <div class="time-area">
                                                    <h4 class="time">{{ session.start-time }}</h4>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-7">
                                                <h3 class="title">{{session.title}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="lgx-single-tab">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-2">
                                                <div class="time-area">
                                                    <h4 class="time">{{ session.start-time }}</h4>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-3">
                                                <div class="author">
                                                    <a class="author-img" href="/speakers/{{speaker.title | slugify }}"><img
                                                            src="/assets/img/speakers/{{ speaker.photo }}" alt="{{speaker.title}}" /></a>
                                                    <div class="author-info">
                                                        <h5 class="name"><a href="/speakers/{{speaker.title | slugify }}">{{speaker.title}}</a></h5>
                                                        <p class="author-title">{{speaker.short-job-title}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="schedule-info">
                                                    <h3 class="title">
                                                        <a href="{{ session.url }}">{{session.title}}</a>
                                                    </h3>
                                                    <p>{{session.short-description}}</p>
                                                </div>
                                                <!--//.single tab-->
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
    </div>
</section>
<!--SCHEDULE END-->