<!--TRAVEL INFO-->
<section>
    <div id="lgx-travelinfo" class="lgx-travelinfo">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="lgx-heading-area">
                            <h2 class="lgx-heading">
                                <span class="back-heading"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                <span class="heading">Travel Info</span>
                            </h2>
                            <p class="text">
                                Join us in Nationale Nederlanden's Amsterdam office for knowledge and fun.
                            </p>
                        </div>
                    </div>
                    <!--//main COL-->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single">
                            <img src="assets/img/info-icon1.png" alt="location" />
                            <h3 class="title">Venue</h3>
                            <p class="info"><a href="https://goo.gl/maps/kPRNTbXWHrT2">Nationale Nederlanden</a><br>Spaklerweg
                                4<br>1096 BA Amsterdam</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single">
                            <img src="assets/img/info-icon2.png" alt="Transport" />
                            <h3 class="title">Transport</h3>
                            <p class="info"><a href="https://goo.gl/maps/w5kdqsEPeMp">Amsterdam Amstel station</a>
                                (exit Berlagebrug / Omval)</p>
                        </div>
                    </div>
                    <!-- TODO: Add hotel recommendations -->
                    <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single">
                            <img src="assets/img/info-icon3.png" alt="Hotel & Restaurant" />
                            <h3 class="title">Hotel</h3>
                            <p class="info"><a href="http://www.aloftbostonseaportdistrict.com/?SWAQ=958P">NEED A HOTEL
                                    HERE: Hotel Name</a><br>Streed Address<br>1096 BA Amsterdam</p>
                        </div>
                    </div> -->
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</section>
<!--TRAVEL INFO END-->