<!--BLOG-->
<section>
    <div id="lgx-blog" class="lgx-blog">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <h2 class="lgx-heading">
                                <span class="back-heading"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                                <span class="heading">Latest Updates</span>
                            </h2>
                            <p class="text">
                                Conferences dedicated to building remarkable events.
                            </p>
                        </div>
                    </div>
                </div>
                <!--//.ROW-->

                <div class="blog-area">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="lgx-card-single">
                                <div class="card-inner">
                                    <figure>
                                        <a class="" href="blog-single.html"><img src="http://placehold.it/1167x565" alt="blog"/></a>
                                    </figure>
                                    <div class="content">
                                        <div class="cat-icon">
                                            <span>
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="text-area">
                                            <h3 class="title"><a href="blog-single.html">Internet Searches Inspire Because they Are Charitable Mahatmas</a></h3>
                                            <div class="hits-area">
                                                <span class="date"><a href="#">25 July 2016</a></span>
                                                <span class="hit-right">
                                                    <a href="#">50 Comments</a>
                                                    <a href="#">500 Views</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="lgx-card-single">
                                <div class="card-inner">
                                    <figure>
                                        <a class="" href="blog-single.html"><img src="http://placehold.it/1167x565" alt="blog"/></a>
                                    </figure>
                                    <div class="content">
                                        <div class="cat-icon">
                                            <span>
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="text-area">
                                            <h3 class="title"><a href="blog-single.html">Internet Searches Inspire Because they Are Charitable Mahatmas</a></h3>
                                            <div class="hits-area">
                                                <span class="date"><a href="#">25 July 2016</a></span>
                                                <span class="hit-right">
                                                    <a href="#">50 Comments</a>
                                                    <a href="#">500 Views</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lgx-btn-area">
                    <a class="lgx-btn lgx-btn-big" href="blog-list.html"><span>View More News</span></a>
                </div>
            </div><!-- //.CONTAINER -->

        </div><!-- //.INNER -->

    </div>
</section>
<!--BLOG END-->